---
layout: default
title: Home
---

<div class="hero"
  style="background-image:url({{ site.baseUrl }}/assets/img/home.jpg);">
  <div class="hero-image"></div>
  <div class="hero-text">
    <h1>{{ site.title }}</h1>
    <p>Porque os outros não veem o que eu vejo? Porque distorcem o que eu digo?</p>
    <p>Porque não deixam as emoções de lado e começam a ser mais práticos?</p>
  </div>
</div>

<section class="agenda hidden">
  <h2>Programe-se</h2>
  <div id="calendario">
    <div id="zabuto-calendar"></div>
  </div>
  <div id="evento">
    <h1 class="event-title"></h1>
    <p class="event-date"></p>
    <p class="event-location"></p>
    <a target="_blank" href="">Inscreva-se!</a>
  </div>
</section>

<section id="artigos-recentes" class"recent">
  <h2>Artigos Recentes</h2>

  {% for post in paginator.posts %}
  
  <article>
    <a href="{{ site.baseUrl }}{{ post.url }}">
      <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.baseUrl }}{{ post.image }})"{% endif %}>
        <h2><span>{{ post.title }}</span></h2>
      </div
    </a>
  </article>
  
  {% endfor %}
  
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-button pagination-active" href="{{ site.baseUrl }}{{ paginator.next_page_path }}#artigos-recentes" class="next">{{ site.data.settings.pagination.previous_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
    {% endif %}
  
    {% if paginator.previous_page %}
      <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}#artigos-recentes">{{ site.data.settings.pagination.next_page }}</a>
      {% else %}
        <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
    {% endif %}
  </div>
  
</section>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<link rel="stylesheet" type="text/css" href="{{ site.baseUrl }}/assets/css/zabuto_calendar.min.css">
<script async src="{{ site.baseUrl }}/assets/js/zabuto_calendar.min.js"></script>


<script>
  window.CALENDAR_ID = '{{ site.data.settings.CALENDAR_ID }}';
  window.API_KEY = '{{ site.data.settings.API_KEY }}';
</script>
<script type="application/javascript" async src="/assets/js/load_events.js"></script>